.fix--expansion-panel
  .v-expansion-panel
    border-top: 2px solid var(--v-grey-lighten4)
    margin: 5px
  &:last-child
    border-bottom: 2px solid var(--v-grey-lighten4)
    .v-expansion-panel-header
      padding: 20px 5px;
      .v-expansion-panel-header__icon
        .v-icon
          color: var(--v-primary-base)
    .v-expansion-panel-content__wrap
      padding: 10px;
      color: var(--v-primary-base)
      a
        text-decoration: underline